<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user/layout :: areas(~{::title},~{::body})}">
<head>

<title>Coza Store | Giới Thiệu</title>

</head>
<body>

	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-40"></section>
	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-150"
		style="background-image: url('/user/images/bg-02.jpg'); border-radius: 20px;">
		<!-- Breadcrumb -->
		<div class="txt-center">
			<a th:href="@{/home/index}" class="stext-109 cl8 hov-cl1 trans-04"
				style="font-size: 25px;">Trang Chủ</a> <i
				class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"
				style="font-size: 25px;"></i> <a
				class="stext-109 cl8 hov-cl1 trans-04" style="font-size: 25px;">Giới
				Thiệu</a>
		</div>
	</section>



	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">Apple Store Tại Việt Nam</h3>

						<p class="stext-113 cl6 p-b-26">Apple vừa mở rộng sự hiện diện
							của mình tại thị trường Việt Nam thông qua Apple Store trực tuyến
							và ứng dụng di động. Người dùng có cơ hội khám phá và mua sắm
							chiếc iPhone 15 đầy đổi mới, cùng khả năng tùy chỉnh qua Apple
							Watch Studio. Apple cung cấp trải nghiệm mua sắm độc đáo, kết nối
							khách hàng với đội ngũ chuyên gia, và tăng tính cá nhân hóa qua
							dịch vụ khắc hình miễn phí. Bà Deirdre O’Brien của Apple chia sẻ
							niềm phấn khởi về mở rộng này, cam kết mang đến trải nghiệm tốt
							nhất và kích thích sự tương tác tích cực với người dùng tại Việt
							Nam.</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">“Apple tập trung vào
								sự tương tác và hỗ trợ khách hàng bằng cách cung cấp trải nghiệm
								mua sắm độc đáo, đội ngũ chuyên gia tận tâm, và dịch vụ tư vấn
								cá nhân. Khách hàng có nhiều kênh hỗ trợ nhanh chóng và chất
								lượng sau bán hàng, đảm bảo rằng họ nhận được sự hỗ trợ đầy đủ
								và đúng đắn trong mọi tình huống. Điều này thể hiện cam kết của
								Apple đối với trải nghiệm tích cực và sự hài lòng của khách
								hàng.”</p>

							<span class="stext-111 cl8"><a
								style="font-family: sans-serif; color: #67729D;"
								href="http://apple.com.vn/">apple.com/vn</a></span>
						</div>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="/user/images/about1.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">Dịch Vụ Bán Lẻ</h3>

						<p class="stext-113 cl6 p-b-26">Coza Store là trang web mua
							sắm đồ công nghệ chính thức của Apple, mang đến trải nghiệm mua
							sắm độc đáo và tiện lợi cho cộng đồng người hâm mộ công nghệ. Với
							giao diện trực quan và dễ sử dụng, Coza Store cung cấp danh mục
							đa dạng từ iPhone, MacBook, iPad đến Apple Watch và AirPods, đảm
							bảo đáp ứng đầy đủ nhu cầu của khách hàng. Cam kết chất lượng và
							sự đổi mới, Coza Store không chỉ là địa điểm mua sắm, mà còn là
							nguồn thông tin tin cậy về những xu hướng mới và sản phẩm công
							nghệ độc đáo từ thương hiệu hàng đầu thế giới - Apple.</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">Coza Store thường
								xuyên tổ chức các chương trình khuyến mãi đặc biệt để tạo điều
								kiện thuận lợi cho khách hàng mua sắm sản phẩm công nghệ của
								Apple. Các ưu đãi bao gồm giảm giá, quà tặng kèm, chương trình
								tích điểm, và ưu đãi đặc quyền cho thành viên. Coza Store cũng
								khuyến khích việc đổi cũ lấy mới thông qua chương trình Trade-In
								và mang đến dịch vụ hậu mãi chất lượng, bao gồm miễn phí vận
								chuyển..</p>

							<span class="stext-111 cl8"> <a
								style="font-family: sans-serif; color: #67729D;"
								href="http://apple.com.vn/">apple.com/vn</a>
							</span>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="/user/images/about2.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>