<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user/layout :: areas(~{::title},~{::body})}">
<head>

<title>Coza Store | Đổi Mật Khẩu</title>

</head>
<body>

	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-40"></section>
	
	<section>
		<div class="container py-5">
			<div class="row">
				<div class="col-lg-3">
					<div class="card1 mb-4">
						<div class="card-body text-center">
							<img th:src="@{|/images/${profile.photo}|}" alt="avatar"
								class="rounded-circle img-fluid" style="width: 150px;">
							<h5 class="my-3">[[${profile.username}]]</h5>
							<p class="text-muted mb-1">[[${profile.last_name}]]
								[[${profile.first_name}]]</p>
							<p class="text-muted mb-1">[[${profile.phone}]]</p>
							<p class="text-muted mb-4">[[${profile.email}]]</p>
						</div>
					</div>
					<div class="card1 mb-4 mb-lg-0">
						<div class="card-body p-0">
									<ul class="list-group list-group-flush rounded-3">
								<th:block
									th:if="${#request.isUserInRole('USER') and #request.isUserInRole('STAFF')}">
									<li
										class="list-group-item d-flex justify-content-between align-items-center p-3">
										<p class="mb-0">
											<a style="font-family: sans-serif; font-weight: bold; color: red;" th:href="@{/admin}">TRANG QUẢN LÝ</a>
										</p>
									</li>
								</th:block>
								<li
									class="list-group-item d-flex justify-content-between align-items-center p-3">
									<p class="mb-0">
										<a th:href="@{/home/profile}" style="font-family: sans-serif;"
											class="text-dark">Thông Tin Cá Nhân</a>
									</p>
								</li>
								<li
									class="list-group-item d-flex justify-content-between align-items-center p-3">
									<p class="mb-0">
										<a th:href="@{/home/order}" class="text-dark" style="font-family: sans-serif;">Đơn Hàng</a>
									</p>
								</li>
								<li
									class="list-group-item d-flex justify-content-between align-items-center p-3">
									<p class="mb-0">
										<a th:href="@{/home/address}"
											class="text-dark" style="font-family: sans-serif;">Địa Chỉ</a>
									</p>
								</li>
								<li
									class="list-group-item d-flex justify-content-between align-items-center p-3">
									<p class="mb-0">
										<a th:href="@{/home/vouchers}"
											class="text-dark" style="font-family: sans-serif;">Mã Giảm Giá Đã Lưu</a>
									</p>
								</li>
								<li
									class="list-group-item d-flex justify-content-between align-items-center p-3">
									<p class="mb-0">
										<a th:href="@{/home/change-password}"
											class="text-dark" style="font-weight: bold; font-family: sans-serif;">Đổi Mật Khẩu</a>
									</p>
								</li>

								<th:block th:if="${#request.remoteUser}">
									<li
										class="list-group-item d-flex justify-content-between align-items-center p-3">
										<p class="mb-0">
											<a th:href="@{/security/logoff}" style="font-family: sans-serif;" class="text-dark">Đăng Xuất</a>
										</p>
									</li>
								</th:block>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="card2 row">
						<div class="col-1"></div>
						<form class="col-10" action="/home/change-password" method="post">
							<h2 class="mtext-105 cl2 txt-center p-b-30 mt-5" style="font-weight: bold;">ĐỔI MẬT KHẨU</h2>
							<h3 style="color: red; text-align: center;" th:text="${message}"></h3>
							<br>
							<div class="bor8 m-b-20 how-pos4-parent">
								<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30"
									type="text" name="username" placeholder="Tài Khoản">
							</div>
							<div class="bor8 m-b-20 how-pos4-parent">
								<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30"
									type="password" name="password" placeholder="Mật Khẩu">
							</div>
							<div class="bor8 m-b-20 how-pos4-parent">
								<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30"
									type="password" name="newpassword" placeholder="Mật Khẩu Mới">
							</div>
							<div class="bor8 m-b-20 how-pos4-parent">
								<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30"
									type="password"name="confirmpassword" placeholder="Xác Nhận Mật Khẩu">
							</div>
							<div class="row">
								<div class="col-6">
									<button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">Cập Nhật</button>
								</div>
								<div class="col-6">
									<a href="/home/forgot-password" class=" btn flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">Quên Mật Khẩu</a>
								</div>
							</div>					
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	
</body>
</html>