<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user/layout :: areas(~{::title},~{::body})}">
<head>

<title>Coza Store | Quên Mật Khẩu</title>

</head>
<body>

	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-40"></section>
	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-150"
		style="background-image: url('/user/images/bg-02.jpg'); border-radius: 20px;">
		<!-- Breadcrumb -->
		<div class="txt-center">
			<a th:href="@{/home/index}" class="stext-109 cl8 hov-cl1 trans-04"
				style="font-size: 25px;">Trang Chủ</a> <i
				class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"
				style="font-size: 25px;"></i> <a 
				class="stext-109 cl8 hov-cl1 trans-04" style="font-size: 25px;">Quên Mật Khẩu</a>
		</div>
	</section>

	<div style="margin-left: 32%">
		<!-- Content page -->
		<section class="bg0 p-t-104 p-b-116">
			<div class="container">
				<div class="flex-w flex-tr">
					<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
						<form action="/home/forgot-password" method="post">
							<h2 class="mtext-105 cl2 txt-center p-b-30" style="font-weight: bold;">QUÊN MẬT KHẨU</h2>
							<h3 style="color: red; text-align: center;" th:text="${message}"></h3>
							<br>
							<div class="bor8 m-b-20 how-pos4-parent">
								<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30"
									type="text" name="username" placeholder="Username">
							</div>
							<div class="bor8 m-b-20 how-pos4-parent">
								<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30"
									type="email" name="email" placeholder="Email">
							</div>
							<br>
							<button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">Cập Nhật</button>							
						</form>

					</div>
				</div>
			</div>
		</section>
	</div>


</body>
</html>