<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user/layout :: areas(~{::title},~{::body})}">
<head>
<meta charset="UTF-8">
<title>Coza Store | Đơn Hàng Của Tôi</title>
</head>
<body>
	
	<section class="bg-img1 txt-center p-lr-15 p-tb-40"></section>

	<section>
		<div class="container py-5">
			<div class="row">
				<div class="col-lg-3">
					<div class="card1 mb-4">
						<div class="card-body text-center">
							<img th:src="@{|/images/${profile.photo}|}" alt="avatar"
								class="rounded-circle img-fluid" style="width: 150px;">
							<h5 class="my-3">[[${profile.username}]]</h5>
							<p class="text-muted mb-1">[[${profile.last_name}]]
								[[${profile.first_name}]]</p>
							<p class="text-muted mb-1">[[${profile.phone}]]</p>
							<p class="text-muted mb-4">[[${profile.email}]]</p>
						</div>
					</div>
					<div class="card1 mb-4 mb-lg-0">
						<div class="card-body p-0">
										<ul class="list-group list-group-flush rounded-3">
								<th:block
									th:if="${#request.isUserInRole('USER') and #request.isUserInRole('STAFF')}">
									<li
										class="list-group-item d-flex justify-content-between align-items-center p-3">
										<p class="mb-0">
											<a style="font-family: sans-serif; font-weight: bold; color: red;" th:href="@{/admin}">TRANG QUẢN LÝ</a>
										</p>
									</li>
								</th:block>
								<li
									class="list-group-item d-flex justify-content-between align-items-center p-3">
									<p class="mb-0">
										<a th:href="@{/home/profile}" style="font-family: sans-serif;"
											class="text-dark">Thông Tin Cá Nhân</a>
									</p>
								</li>
								<li
									class="list-group-item d-flex justify-content-between align-items-center p-3">
									<p class="mb-0">
										<a th:href="@{/home/order}" class="text-dark" style="font-weight: bold; font-family: sans-serif;">Đơn Hàng</a>
									</p>
								</li>
								<li
									class="list-group-item d-flex justify-content-between align-items-center p-3">
									<p class="mb-0">
										<a th:href="@{/home/address}"
											class="text-dark" style="font-family: sans-serif;">Địa Chỉ</a>
									</p>
								</li>
								<li
									class="list-group-item d-flex justify-content-between align-items-center p-3">
									<p class="mb-0">
										<a th:href="@{/home/vouchers}"
											class="text-dark" style="font-family: sans-serif;">Mã Giảm Giá Đã Lưu</a>
									</p>
								</li>
								<li
									class="list-group-item d-flex justify-content-between align-items-center p-3">
									<p class="mb-0">
										<a th:href="@{/home/change-password}"
											class="text-dark" style="font-family: sans-serif;">Đổi Mật Khẩu</a>
									</p>
								</li>

								<th:block th:if="${#request.remoteUser}">
									<li
										class="list-group-item d-flex justify-content-between align-items-center p-3">
										<p class="mb-0">
											<a th:href="@{/security/logoff}" style="font-family: sans-serif;" class="text-dark">Đăng Xuất</a>
										</p>
									</li>
								</th:block>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="row pl-4" style="border: 1px solid #D8D9DA;">
							<div class="col-11 card m-4" style="max-width: 100%; height:335px; font-family: sans-serif;" th:each="order : ${orders}">
								<div class="row" style="font-weight: bold;">
									<div style="font-family: sans-serif;" class="text-left col-6" >ID Đơn Hàng : #[[${order.id}]]</div>
									<div style="font-family: sans-serif;" class="text-right col-6">
									Trạng Thái Đơn Hàng : 
									<span th:style="${order.order_status.id == 'Pending' ? 'color: #FDD36A;' 
												: (order.order_status.id == 'Delivery' ? 'color: #39A7FF	;' 
												: (order.order_status.id == 'Confirm' ? 'color: #EE9322;' 
												: (order.order_status.id == 'Complete' ? 'color: #54B435;' 
												: (order.order_status.id == 'Cancel' ? 'color: #B31312;' : ''))))}">[[${order.order_status.id}]]</span>
									</div>
								</div>
								<hr>
								<div class="row no-gutters">
									<div class="col-md-4">
										<img style="height: 160px; border-radius: 10px;" class="img-fluid" alt="Hình Ảnh"
											src="https://hoanghamobile.com/tin-tuc/wp-content/uploads/2021/03/Apple-Store-mo-cua-1.jpg">
									</div>
									<div class="col-md-8 text-left">
											<div class="card-body">
										<p style="font-family: sans-serif;" class="card-text">Tài
											Khoản : [[${order.accounts.username}]]</p>
										<p style="font-family: sans-serif;" class="card-text">Số
											Điện Thoại : [[${order.ship_phone == '' ?
											order.account_address.phone : order.ship_phone}]]</p>
										<p style="font-family: sans-serif;" class="card-text">Ngày
											Đặt Hàng : [[${#dates.format(order.create_date,
											'dd-MM-yyyy')}]]</p>
										<p style="font-family: sans-serif;" class="card-text">Đơn
											Vị Giao Hàng : [[${order.ship_delivery}]]</p>
										<p style="font-family: sans-serif;" class="card-text">Ghi
											Chú : [[${order.ship_notes == '' ?
											order.account_address.notes : order.ship_notes}]]</p>
										<p style="font-family: sans-serif; height: 40px;" class="card-text">Địa
											Chỉ : [[${order.ship_address == '' ?
											order.account_address.address : order.ship_address}]],
											[[${order.ship_ward == '' ? order.account_address.ward :
											order.ship_ward}]],[[${order.ship_district == '' ?
											order.account_address.district : order.ship_district}]],
											[[${order.ship_province == '' ?
											order.account_address.province : order.ship_province}]]</p>
									</div>
								</div>
						</div>
						<hr>
							<div class="row">
									<div style="font-family: sans-serif;" class="text-left col-6" th:text="${order.ship_pay eq 'Cash' ? 'Thanh Toán Tiền Mặt' : 'Thanh Toán Paypal'}"></div>
									<div style="font-family: sans-serif;" class="text-right col-6">
									Tổng Thanh Toán : [[${#numbers.formatDecimal(order.total, 0, 'COMMA', 0,
										'POINT')}]] VNĐ | <a style="color: #717fe0;" th:href="@{|/home/order/detail/${order.id}|}">Chi Tiết</a></div>
							</div>
					</div>
				</div>
			</div>
		</div>
			</div>
	</section>


</body>
</html>