<div class="col-md-12 mt-5">
	<div class="row col-12 mb-3">
		<div class="form-group col-sm-5"></div>
		<div class="form-group col-sm-2">
			<label style="font-family: sans-serif;">Thời Gian Bắt Đầu</label> <input ng-model="form1.startDate"
				type="date" class="form-control">
		</div>
		<div class="form-group col-sm-2">
			<label style="font-family: sans-serif;">Thời Gian Kết Thúc</label> <input ng-model="form1.endDate" type="date"
				class="form-control">
		</div>
		<div class="pt-4 col-sm-3">
			<button ng-click="getDate()" style="font-family: sans-serif;" class="btn btn-info">Cập Nhật</button>		
			<button ng-click="initialize()" class="btn btn-danger ml-3" style="font-family: sans-serif;">Tổng Hợp</button>	
		</div>
	</div>
<br>
	<div class="col-md-12 mt-3 mb-5 offset-1">
		<canvas id="myChart" width="400" height="200"></canvas>
	</div>
		<table class="table table-striped table-hover">
			<thead class="bg-info"
				style="text-transform: uppercase; text-align: center;">
				<tr>
					<th style="font-family: sans-serif;">Số Thứ Tự</th>
					<th style="font-family: sans-serif;">Hình</th>
					<th style="font-family: sans-serif;">Tên Khách Hàng</th>
					<th style="font-family: sans-serif;">Số Lượt Mua</th>
					<th style="font-family: sans-serif;">Tổng Tiền Mua</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in tops" style="text-align: center;">
					<td>{{$index+1}}</td>
					<th><img alt="{{item.accounts.photo}}"
						style="width: 80px; height: 80px; border-radius: 0px;"
						src="/images/{{item.accounts.photo}}"></th>
					<td>{{item.accounts.username}}</td>					
					<td>{{item.count}}</td>
					<td class="text-info">{{item.sum|number:0}} VNĐ</td>
				</tr>
			</tbody>
		</table>
	</div>