<div class="row mt-5">
	<div class="row col-md-12">
		<div class="col-sm-12">
			<div class="panel-body">
				<div class="row">
					<div class="col-6">
						<div class="row">
							<div class="col-3">
								<div class="col-12  text-center mb-4">
									<input type="file" class="form-control" id="image1" onchange="angular.element(this).scope().image1(this.files)">
									<label for="image1"> 
									<img ng-src="{{'/images/'+form.image1}}" style="max-width: 100%; max-height: 150px; border-radius: 10px;" alt=" IMAGE">
									</label>
								</div>
								<div class="col-12  text-center">
									<input type="file" class="form-control" id="image3" onchange="angular.element(this).scope().image3(this.files)">
									<label for="image3"> 
									<img ng-src="{{'/images/'+form.image3}}" style="max-width: 100%; max-height: 150px; border-radius: 10px;" alt=" IMAGE">
									</label>
								</div>
							</div>													
							<div class="col-3">
								<div class="col-12  text-center mb-4">
									<input type="file" class="form-control" id="image2" onchange="angular.element(this).scope().image2(this.files)">
									<label for="image2"> 
									<img ng-src="{{'/images/'+form.image2}}" style="max-width: 100%; max-height: 150px; border-radius: 10px;" alt=" IMAGE">
									</label>
								</div>
								<div class="col-12  text-center">
									<input type="file" class="form-control" id="image4" onchange="angular.element(this).scope().image4(this.files)">
									<label for="image4"> 
									<img ng-src="{{'/images/'+form.image4}}" style="max-width: 100%; max-height: 150px; border-radius: 10px;" alt=" IMAGE">
									</label>
								</div>
							</div>						
							<div class="col-5">
								<input type="file" class="form-control" id="image" onchange="angular.element(this).scope().image0(this.files)">
								<label for="image"> 
								<img ng-src="{{'/images/'+form.image}}" style="max-width: 100%; max-height: 360px; border-radius: 10px;" alt=" IMAGE">
								</label>
							</div>														
						</div>					
						<div class="panel-footer text-center mt-5">
							<button ng-click="create()" class="btn btn-success" style="font-family: sans-serif;">Tạo</button>
							<button ng-click="update()" class="btn btn-success" style="font-family: sans-serif;">Cập Nhật</button>
							<button ng-click="delete(form)" class="btn btn-success" style="font-family: sans-serif;">Xóa</button>
							<button ng-click="reset()" class="btn btn-success" style="font-family: sans-serif;">Mới</button>
						</div>								
						
					</div>
					
					
					<div class="col-md-6" style="font-family: sans-serif;">						
						<div class="row">
							<div class="form-group col-sm-12">
								<textarea rows="22" ng-model="form.describe" placeholder="Thông Tin" class="form-control"></textarea>
							</div>
						</div>
		
						<div class="row">
							<div class="form-group col-sm-6">
								<label>Tên Sản Phẩm</label> <input ng-model="form.name"
									class="form-control">
							</div>
							<div class="form-group col-sm-6">
								<label>Giá Thành</label> <input type="number" ng-model="form.price"
									class="form-control">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-6">
								<label>Loại Hàng</label> <select ng-model="form.categories.id"
									class="form-control">
									<option ng-repeat="c in cate" ng-value="c.id">{{c.name}}</option>
								</select>
							</div>
							<div class="form-group col-sm-6">
								<label>Số Lượng</label>
								<input type="number" ng-model="form.quantity"
									class="form-control">
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row col-md-12 mt-2">		
		<div class="col-8">
			<div class="text-left mb-3">
				<h2 style="font-family: sans-serif;">KỆ HÀNG</h2>
			</div>
			<table class="table table-striped">
			<thead class="bg-info"
				style="text-transform: uppercase; text-align: center;">
				<tr>
					<th style="font-family: sans-serif;">Mã</th>
					<th style="font-family: sans-serif;">Hình</th>
					<th style="font-family: sans-serif;">Tên Sản Phẩm</th>
					<th style="font-family: sans-serif;">Giá</th>
					<th style="font-family: sans-serif;">Ngày Tạo</th>
					<th style="font-family: sans-serif;">Loại Hàng</th>
					<th style="font-family: sans-serif;">Số Lượng</th>
					<th style="font-family: sans-serif;">Chọn</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in pageProd.items" style="text-align: center;">
					<th>{{item.id}}</th>
					<th><img alt="{{item.image}}"
						style="width: 50px; height: 50px; border-radius: 0px;"
						src="/images/{{item.image}}"></th>
					<td>{{item.name}}</td>
					<td class="text-info">{{item.price|number:0}} VNĐ</td>
					<td>{{item.create_date |date:'dd-MM-yyyy'}}</td>
					<td>{{item.categories.name}}</td>
					<td class="text-info">{{item.quantity}}</td>
					<td>
						<div class="btn-group btn-group-xs">
							<button ng-click="edit(item)" class="btn btn-info mr-2" style="font-family: sans-serif;">Sửa</button>	
							<button ng-click="pull(item)"class="btn btn-warning" style="font-family: sans-serif;">Hết Hàng</button>					
						</div>
					</td>
				</tr>
			</tbody>
		</table>
			<div class="panel-footer text-center mt-3">
				<button ng-click="pageProd.first()" class="btn btn-success">
					First</button>
				<button ng-click="pageProd.prev()" class="btn btn-success">
					Back</button>
				<button class="btn btn-success">
					<b>{{pageProd.page + 1}} of {{pageProd.count}}</b>
				</button>
				<button ng-click="pageProd.next()" class="btn btn-success">
					Next</button>
				<button ng-click="pageProd.last()" class="btn btn-success">
					Last</button>
			</div>
		</div>
		<div class="col-4">
			<div class="text-left mb-3">
				<h2 style="font-family: sans-serif;">KHO HÀNG</h2>
			</div>
			<table class="table table-striped">
			<thead class="bg-info"
				style="text-transform: uppercase; text-align: center;">
				<tr>
					<th style="font-family: sans-serif;">Mã</th>
					<th style="font-family: sans-serif;">Hình</th>
					<th style="font-family: sans-serif;">Tên Sản Phẩm</th>
					<th style="font-family: sans-serif;">Giá</th>
					<th style="font-family: sans-serif;">Chọn</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in noSell" style="text-align: center;">
					<th>{{item.id}}</th>
					<th><img alt="{{item.image}}"
						style="width: 50px; height: 50px; border-radius: 0px;"
						src="/images/{{item.image}}"></th>
					<td>{{item.name}}</td>
					<td>{{item.price|number:0}} VNĐ</td>
					<td>
						<div class="btn-group btn-group-xs">
							<button ng-click="push(item)" class="btn btn-danger" style="margin-right: 10px; font-family: sans-serif;">Nhập Hàng</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>