<div class="row mt-5" style="font-family: sans-serif;">
	<div class="row col-md-12">
		<div class="col-sm-4"></div>
		<div class="col-sm-7">
			<div class="row panel">
				<div class="form-group col-sm-8">
					<div class="panel-footer">
						<label>Mã Voucher</label> <input ng-model="form.id" class="form-control">
						<br> <label>Giảm Giá</label> <input ng-model="form.price"
							class="form-control"> <br> <label>Nội Dung</label>
						<textarea ng-model="form.decribe" class="form-control" rows="5"></textarea>
						<br>
						<div class="row">
							<div class="col-2">
								<label>Số Lượng</label> <input ng-model="form.quantity"
									type="number" class="form-control" min="1">
							</div>
							<div class="col-5">
								<label>Ngày Bắt Đầu</label> <input ng-model="form.start_date"
									type="date" class="form-control">
							</div>
							<div class="col-5">
								<label>Ngày Kết Thúc</label> <input ng-model="form.end_date"
									type="date" class="form-control">
							</div>
						</div>
					</div>
					<br> <br>

					<div class="panel-footer text-center">
						<button ng-click="create()" class="btn btn-info"  style="font-family: sans-serif;">
							Tạo Voucher
						</button>
						<button ng-click="update()" class="btn btn-info" style="font-family: sans-serif;">
							Cập Nhật
						</button>
						<button ng-click="delete(form)" class="btn btn-info" style="font-family: sans-serif;">
							Xóa
						</button>
						<button ng-click="reset()" class="btn btn-info" style="font-family: sans-serif;">
							Mới
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-8 offset-2 mt-2">
		<table class="table table-striped border">
			<thead class="bg-info"
				style="color: dark; text-transform: uppercase; text-align: center;">
				<tr>
					<th style="font-family: sans-serif; font-weight: bold;">MÃ</th>
					<th style="font-family: sans-serif; font-weight: bold;">Giảm Giá</th>
					<th style="font-family: sans-serif; font-weight: bold;">Số Lượng</th>
					<th style="font-family: sans-serif; font-weight: bold;">Ngày Bắt Đầu</th>
					<th style="font-family: sans-serif; font-weight: bold;">Ngày Kết Thúc</th>
					<th style="font-family: sans-serif; font-weight: bold;">Mô Tả</th>
					<th style="font-family: sans-serif; font-weight: bold;">Chọn</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in vous" style="text-align: center;">
					<th>{{item.id}}</th>
					<td>{{item.price}}</td>
					<td>{{item.quantity}}</td>
					<td>{{item.start_date | date : 'dd-MM-yyyy'}}</td>
					<td>{{item.end_date | date : 'dd-MM-yyyy'}}</td>
					<td>{{item.decribe}}</td>
					<td>
						<div class="btn-group btn-group-xs">
							<button ng-click="edit(item)" class="btn btn-success mr-3">
								<span style="font-family: sans-serif;" class="glyphicon glyphicon-edit">Sửa</span>
							</button>
							<button ng-click="delete(item)" class="btn btn-danger">
								<span style="font-family: sans-serif;" class="glyphicon glyphicon-remove">Xóa</span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>